#mijnmap {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #75e0c7; 
            border-radius: 8px; 
            overflow: hidden; 
}
#map { height: 180px; ; 
    border-radius: 8px; 
    overflow: hidden; }